* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 2rem;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("/public/img/notepad_background.jpg");
}

.handWritten {
  font-family: 'Caveat', cursive;
}

.big {
  font-size: 2em;
  line-height: 1.2;
}

.tape {
  text-align: center;
  display: block;
  background-color: rgba(240,240,107,0.6);
  text-decoration: none;
  color: #000;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2);
}

.cosmetic-tape {
  min-height: 3rem;
  min-width: 8rem;
  position: absolute;
}

.link {
  transition: 500ms ease-in-out;
}

.link:hover, .link:focus   {
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.6);
  transform: scale(1.1);
}

.red-tape {
  background-color: rgba(208, 76, 76, 0.4) !important;
}

.blue-tape {
  background-color: rgba(0, 78, 245, 0.4) !important;
}

.green-tape {
  background-color: rgba(59, 233, 79, 0.4) !important;
}

.pink-tape {
  background-color: rgba(233, 59, 216, 0.4) !important;
}

img {
  border: 2px solid black;
}